* {
    padding: 0;
    margin: 0;
    font-family: "Bitter", Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif;
    font-size: 14px;
    color: #516065;
}

.wrapper {
    min-width: 1040px;
    max-width: 1040px;
    line-height: normal;
    padding: 30px 60px;
    page-break-after: always;
    position: relative;
    margin: 50px auto;
    box-sizing: border-box;
}
.wrapper .header {
    margin-bottom: 50px;
}
.wrapper .name {
    vertical-align: top;
    font-size: 42px;
    font-weight: 700;
    color: #474eac;
    text-transform: uppercase;
}
.wrapper .role {
    color: #474eac;
    font-size: 21px;
    font-weight: 500;
}
.wrapper .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    margin-top: 20px;
}
.wrapper .contacts__phone,
.wrapper .contacts__email,
.wrapper .contacts__address,
.wrapper .contacts__github {
    display: inline-block;
    min-width: 280px;
    padding: 0 15px 7px 0;
    text-decoration: none;
}
.wrapper .contacts__phone:hover .svg-wrapper,
.wrapper .contacts__email:hover .svg-wrapper,
.wrapper .contacts__address:hover .svg-wrapper,
.wrapper .contacts__github:hover .svg-wrapper {
    filter: invert(30%) sepia(28%) saturate(2859%) hue-rotate(213deg) brightness(89%) contrast(88%);
}
.wrapper .contacts__phone:hover p,
.wrapper .contacts__email:hover p,
.wrapper .contacts__address:hover p,
.wrapper .contacts__github:hover p {
    color: #474eac;
}
.wrapper .contacts__github {
    text-decoration: underline;
}
.wrapper .photo {
    display: inline-block;
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: absolute;
    right: 60px;
    top: 30px;
}
.wrapper .photo > img {
    width: 100%;
    height: auto;
}
.wrapper .content {
    display: flex;
    justify-content: space-between;
    max-height: 1085px;
}
.wrapper .content .section:first-child {
    min-width: 530px;
    max-width: 530px;
}
.wrapper .content .section:nth-child(2) {
    min-width: 345px;
    max-width: 345px;
}
.wrapper .content .section__content {
    padding-bottom: 12.5px;
    border-bottom: 1px dashed #ccc;
}
.wrapper .content .section__title {
    color: #474eac;
    display: block;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 3px solid #474eac;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}
.wrapper .content .section .experience__title {
    font-size: 23px;
    font-weight: 500;
    color: #474eac;
    min-height: 10px;
    margin-top: 15px;
}
.wrapper .content .section .experience__section-page .page__name {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    color: #384347;
}
.wrapper .content .section .experience__section-page .page__link {
    display: flex;
    margin-bottom: 6px;
}
.wrapper .content .section .experience__section-page .page__link:hover .svg-wrapper {
    filter: invert(30%) sepia(28%) saturate(2859%) hue-rotate(213deg) brightness(89%) contrast(88%);
}
.wrapper .content .section .experience__section-page .page__link:hover p {
    color: #474eac;
}
.wrapper .content .section .experience__section-page .page__link:hover {
    color: #474eac;
}
.wrapper .content .section .experience__section-page .page__link:link {
    color: #384347;
}
.wrapper .content .section .experience__section-page .page__description {
    margin: 8px 0;
}
.wrapper .content .section .experience__section-page .page__technology-list {
    margin-bottom: 15px;
}
.wrapper .content .section .experience__section-page .page__technology-item {
    padding: 5px 6px 5px 0;
    background: transparent;
    min-width: 20px;
    margin: 5px 5px 5px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}
.wrapper .content .section .summary__description {
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}
.wrapper .content .section .technology__item {
    padding: 5px 6px 5px 0;
    background: transparent;
    min-width: 20px;
    margin: 5px 5px 5px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}
.wrapper .content .section .technology__title {
    margin: 11px 0 5px;
    font-size: 23px;
    font-weight: lighter;
    color: #474eac;
}
.wrapper .content .section .technology__type {
    margin-bottom: 15px;
    padding-bottom: 11px;
    border-bottom: 1px dashed #ccc;
}
.wrapper .content .section .stack__type {
    margin: 12px 0;
    padding-bottom: 8px;
    border-bottom: 1px dashed #ccc;
}
.wrapper .content .section .stack__title {
    display: inline-block;
    margin: 0;
    font-size: 21px;
    font-weight: lighter;
    color: #474eac;
}
.wrapper .content .section .stack__item {
    font-weight: 600;
    display: inline-block;
    margin: 0 5px 5px;
}
.wrapper .svg-wrapper {
    filter: invert(21%) sepia(13%) saturate(658%) hue-rotate(150deg) brightness(93%) contrast(81%);
    width: 13px;
    height: 13px;
    margin-right: 5px;
    float: left;
}
